body {
    /*background-image: url("img/background.jpg");*/
    background-color: rgb(37, 36, 36);
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100%;
}

#myNav{
    opacity: 1;
    background-color: rgb(37, 36, 36);
    z-index: 20;
}

a.nav-link{
    color: rgb(90, 137, 219);
    font-weight: 600;
    letter-spacing: 2px;
}

a:hover {
    background-color: white;
    color: black;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }


html {
    scroll-behavior: smooth;
  }

.pair {
    background-color: white;
    color: black;
}

.impair{
    background-color: rgb(37, 36, 36);
    color: white;
}


h1{
    text-align: center;
    color: rgb(90, 137, 219);
}

li{
    font-size: large;
    margin-top: 10px;
    margin-bottom: 10px;
}

#devText{
    font-size: 0em;
    color: brown;
}

